.bingo-body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  overflow-y: hidden;
}

.bingo-chat {
  border-right: 2px solid black;
  background-color: #212130;
  height: 100%;
  width: 20%;
}

.bingo-all {
  background-color: #212130;
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.bingo-participantes {
  width: 100%;
  height: 52%;
  background-color: #383849;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bingo-participants-users {
  height: 100%;
  width: 98%;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
}

.participantes-title {
  margin: 0;
  height: 19%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid black;
  background-color: #212130;
  color: #212130;
}

.bingo-h1-participants {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
}

.bingo-participant-container {
  height: 50px;
  width: 96%;
  background-color: #303049;
  display: flex;
  align-items: center;
  justify-content: baseline;
  border: 2px solid black;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  margin-bottom: 0.2rem;
  margin-top: 0.15rem;
  border-radius: 1rem;
  padding: 0.5rem;
}

.bingo-participant-container-is-self {
  height: 50px;
  width: 97%;
  background-color: #303049;
  display: flex;
  align-items: center;
  justify-content: baseline;
  border: 1px solid #93ec67;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  margin-bottom: 0.2rem;
  margin-top: 0.3rem;
  border-radius: 1rem;
  padding: 0.5rem;
}

.bingo-participant-h4 {
  height: 100%;
  width: 35%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  font-size: 1.2rem;
  border-right: 0.5rem;
  font-weight: bold;
  margin-right: 0.2rem;
}

.bingo-participant-boxname {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
}

.bingo-participant-img {
  height: 30px;
  width: 35px;
  margin-right: 0.8rem;
}

.bingo-messages {
  background-color: #383849;
  max-height: 48%;
  height: 48%;
  width: 100%;
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.bingo-messages-border {
  width: 97%;
  height: 95%;
  border: 1.6px solid black;
  border-radius: 15px;
  margin-bottom: 8px;
}

.bingo-textsend {
  height: 14%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bingo-chat-background {
  height: 86%;
  width: 99%;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 10px;
  float: left;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #93ec67 #212130;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  height: 95%;
  width: 6px;
  border-radius: 20px;
}

*::-webkit-scrollbar-track {
  background: #212130;
  border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
  background-color: #93ec67;
  border-radius: 20px;
  border: 1px solid #212130;
}

.bingo-chat-message {
  padding: 4px 10px 4px 10px;
  border-radius: 10px;
  background-color: #bdbde7;
}

.bingo-chat-area {
  display: flex;
  flex-direction: column;
  width: 90%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 8%;
  margin-left: 0.5rem;
  margin-bottom: 1rem;
}

.bingo-chat-area-self {
  display: flex;
  flex-direction: column;
  width: 90%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-right: 0.5rem;
  margin-left: 8%;
  margin-bottom: 1rem;
}

.bingo-chat-message-self {
  padding: 4px 10px 4px 10px;
  border-radius: 10px;
  background-color: #2e2e44;
}

.chat-img-nickname {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.chat-message-content {
  color: #000;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.2rem;
  margin-left: 2px;
  margin-right: 2px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  padding: 2px 0 2px 0;
}

.chat-message-content-self {
  color: white;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.1rem;
  margin-left: 2px;
  margin-right: 2px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  padding: 3px 0 3px 0;
}

.bingo-img-message {
  height: 30px;
  width: 35px;
  margin-right: 0.5rem;
}

.chat-message-nickname {
  font-size: 0.7rem;
}

.bingo-chat-button {
  margin-top: 0px;
  height: 90%;
  width: 12%;
  border-radius: 0px;
  font-size: 1rem;
  font-weight: bolder;
  cursor: pointer;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
}

.bingo-chat-button:hover {
  background-color: rgba(0, 0, 0, 0);
}

.bingo-chat-button img {
  width: auto;
  height: 65%;
}

.bingo-chat-nickname-self {
  text-transform: uppercase;
  color: greenyellow;
  margin: 0 5px 3px 0;
  font-size: 0.9rem;
  font-weight: bold;
}

.bingo-chat-nickname {
  text-transform: uppercase;
  color: #eee;
  margin: 0 5px 3px 0;
}

.bingo-chat-input {
  margin-top: 0px;
  height: 100%;
  width: 80%;
  background-color: #383849;
  color: #fff;
  border-radius: 15px;
  margin-right: 1%;
}

.bingo-chat-form {
  display: flex;
  flex-direction: row;
  height: 75%;
  width: 97%;
  border: 1.6px solid black;
  border-radius: 20px;
}

.bingo-balls {
  height: 55%;
  width: 100%;
  background-color: #212130;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.bingo-cards {
  height: 45%;
  width: 100%;
  background-color: #383849;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border-top: 2px solid #000;
}

.bingo-card {
  height: 95%;
  width: 28%;
  border-radius: 7px;
  border: 2px solid #777;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 20px #fff;
}

.bingo-container1 {
  height: 100%;
  width: 20%;
  margin-left: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.bingo-oponente-card {
  height: 100%;
  width: 100%;
  background-color: #383849;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bingo-award {
  border-bottom: 2px solid black;
  height: 15%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bingo-oponente-cards {
  background-color: #212130;
  font-size: 1.6rem;
  margin-bottom: 0px;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
}

.bingo-current-card {
  height: 75%;
  width: 90%;
  background-color: white;
  margin-right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bingo-container2 {
  height: 100%;
  width: 53%;
  background-color: #212130;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.bingo-container3 {
  height: 100%;
  width: 25%;
  background-color: #212130;
  display: flex;
  flex-direction: column;
}

.bingo-before-balls {
  height: 63%;
  width: 100%;
  background-color: #383849;
  margin-bottom: 5px;
  border: 2px solid black;
  border-radius: 20px;
}
.bingo-buttons-help-share {
  height: 22%;
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 15px;
}
.bingo-share-img {
  height: 60%;
  width: auto;
}

.bingo-share-help {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bingo-share {
  height: 100%;
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bingo-time {
  height: 50%;
  width: 80%;
  background-color: #383849;
  margin-bottom: 5px;
  border: 2px solid black;
  border-radius: 20px;
}

.bingo-supers {
  height: 44%;
  width: 100%;
  background-color: #383849;
  border: 2px solid black;
  border-bottom: none;
}

.bingo-current-ball {
  height: 48%;
  width: 55%;
  background-color: #383849;
  border: 2px solid black;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.bingo-current-ball h2 {
  font-size: 5.5rem;
  color: #212130;
  -webkit-text-stroke: 1.5px #93ec67;
}

.bingo-currentball-newBall {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: rgb(147, 236, 103);
  background: radial-gradient(at top left, #93ec67 20%, rgb(6, 83, 6));
  box-shadow: 0px 0px 10px 1px rgba(147, 236, 103, 0.5);
  display: flex;
  font-size: 3rem;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}

.new-ball-middle-circus {
  width: 60%;
  height: 60%;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(at left, #fff 50%, rgb(153, 152, 152));
}
.last-balls {
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* 
  border-left: 2px solid black; */
}

.bingo-h1-board {
  font-size: 2rem;
  background-color: #212130;
  text-transform: uppercase;
  font-weight: bold;
  color: #212130;
}

.bingo-button {
  height: 18%;
  width: 32%;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #212130;
  margin-top: 1px;
  cursor: pointer;
}

.bingo-button-display-none {
  display: none;
}

.start-button {
  height: 20%;
  width: 35%;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #212130;
  margin-top: 1px;
  cursor: pointer;
}

.bingo-help {
  width: 100%;
  height: 0.5rem;

  display: flex;
  justify-content: end;
  align-items: center;
}
.bingo-container-help {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 35%;
}

.bingo-button-help {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin-top: 0;
  z-index: 999;
  background-color: black;
  color: white;
  font-size: 2rem;
}

.bingo-button-help:hover {
  background-color: rgb(39, 38, 38);
}

.bingo-h2-yourcards {
  height: 10%;
  width: 100%;
  background-color: #212130;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #212130;
  font-size: 2rem;
  border: 2px solid black;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  /* -webkit-text-stroke: 1.5px #93ec67; */
}

.bingo-h1-currentball {
  height: 10%;
  width: 100%;
  text-align: center;
  margin-bottom: 1px;
  font-size: 2.5rem;
  background-color: #212130;
  text-transform: uppercase;
  font-weight: bold;
  color: #212130;
}

.bingo-container-beforeballs {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.bingo-beforeball {
  height: 95%;
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bingo-ballimg {
  height: 90%;
  width: 80%;
}

.bingo-dropdown {
  height: 80%;
  width: 90%;
  color: #212130;
  background-color: #383849;
  border: 2px solid #212130;
  /* -webkit-text-stroke: 1px #93ec67; */
  font-size: 1.5rem;
  font-weight: bolder;
  text-transform: uppercase;
  border-radius: 5px;
  outline: none;
}

.bingo-super-button {
  height: 45%;
  width: 65%;
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0;
  text-transform: uppercase;
  font-weight: bold;
  color: #212130;
}

.bingo-form-dropdown {
  height: 100%;
  width: 100%;
}

.bingo-select {
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bingo-button-select {
  height: 60%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bingo-option {
  color: black;
  background-color: rgb(174, 173, 173);
  border-radius: 3px;
  font-size: 1rem;
}

.bingo-currentball-img {
  height: 95%;
  width: 60%;
}

.bingo-box-card-number {
  height: 20px;
  width: 20px;
  border: 2px solid gray;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bolder;
  transition: 0.5s;
  cursor: pointer;
  color: #212130;
}

.bingo-card-all {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bingo-box-card-number-letter {
  height: 2rem;
  width: 2rem;
}

.bingo-table-all {
  height: 100%;
  width: 100%;
}

.bingo-box-card-number-2 {
  height: 20px;
  width: 20px;
  border: 2px solid gray;
  background-color: #93ec67;
  text-align: center;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: bolder;
  transition: 0.2s;
  color: #2f2f64;
}

.bingo-letters {
  display: flex;
  width: 100%;
}

.bingo-letter {
  height: 40px;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  font-weight: bolder;
  color: #eee;
}

.bingo-numbers {
  display: flex;
  height: calc(100% - 40px);
  flex: 1;
  color: #eee;
}

.bingo-colum {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 98%;
  width: 20%;
  flex-direction: column;
}

.bingo-colum .number {
  width: 80%;
  height: 18%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  font-weight: bolder;
  border: 2px solid #eee;
  cursor: pointer;
  border-radius: 8px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.background-color-number {
  background-color: #93ec67;
  color: #383849;
  border: 2px solid #383849 !important;
}

.time {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 5.5rem;
  font-weight: bolder;
  color: #212130;
  margin-right: 29%;
  border-radius: 20px;
  -webkit-text-stroke: 1.5px #93ec67;
}

.bingo-container1 p {
  -webkit-text-stroke: 1px #93ec67;
  font-weight: bold;
  font-size: 1.8rem;
}

.around-ball {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: rgb(147, 236, 103);
  background: radial-gradient(at top left, #93ec67 20%, rgb(6, 83, 6));
  box-shadow: 0px 0px 4px 1px rgba(80, 128, 57, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  font-weight: bold;
  margin: 0 1rem 0 1rem;
}

.animation-spin-ball {
  -webkit-animation: slide-in-elliptic-top-fwd 0.7s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
}

@keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1000px;
    transform-origin: 50% 1000px;
    opacity: 1;
  }
}
.modal-overlay {
  background-color: #00000078;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  transition-duration: 1;
}
.modal-content {
  transition-duration: 1;
  width: 90%;
  max-width: 500px;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
}
.text-h1-modal {
  color: #45454a;
  font-size: 2rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-button-copy {
  background-color: #78cbf2;
  margin-top: 0;
  height: 4rem;
}
.modal-button-copy-default {
  background-color: #78cbf2;
  margin-top: 0;
  color: #fff;
  height: 4rem;
  margin-left: 4px;
}
.modal-button-copy-default:hover {
  background-color: #45b8ee;
}
.button-modal-fechar {
  background-color: #78cbf2;
  color: #fff;
}
.button-modal-fechar:hover {
  background-color: #45b8ee;
}
.input-copy-invite {
  height: 4rem;
  width: 80%;
  margin: 0;
  background-color: #777b7c67;
}
.divcopy {
  display: flex;
  align-items: row;
}
.modal-close-button {
  display: flex;
  justify-content: center;
}
.bingo-button-help--bingo {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  margin-top: 0;
  z-index: 999;
  color: white;
  font-size: 2rem;
  transition-duration: 0.3s;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bingo-button-help--bingo img {
  height: 60%;
  width: auto;
}

.bingo-button-help--bingo:hover {
  background-color: rgba(0, 0, 0, 0);
  transition-duration: 0.3s;
}

.container-share-img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 50%;
}

.container-share-img:hover {
  background-color: rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.bingo-button-help--bingo:hover {
  background-color: rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.bingo-share-img:hover {
  transition: 0.5s;
}

.new_text {
  color: white;
}
.img-share-modal {
  height: 10rem;
}
.container-img-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1110px) {
  /* .bingo-container3 {
    background-color: #45b8ee;
  } */
}
