header {
  background-color: green;
  height: 10vh;
  width: 100vw;
  display: flex;
}

body {
  height: 90vh;
  width: 100vw;
  background-color: rgb(50, 47, 47);
  /* align-items: flex-end; */
}

.form {
  display: flex;
  justify-content: star;
  align-items: flex-end;
  height: 60%;
  width: 30%;
  background-color: rgb(43, 134, 64);
}
.participants {
  background-color: aqua;
  height: 100px;
  width: 200px;
  display: flex;
  flex-direction: column;
}
.button {
  background-color: brown;
}
