body {
  background-color: #212130;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.all {
  background-color: #383849;
  height: 80%;
  width: 40%;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
}
h1 {
  text-align: center;
  height: 10%;
  font-size: 3rem;
}

img {
  height: 13rem;
  width: 13rem;
}

.bola {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  height: 40%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 50%;
}
input {
  width: 20rem;
  height: 4rem;
  border-radius: 5px;
  margin-top: 3rem;
  font-size: 1rem;
  outline: none;
  padding-left: 1rem;
}
button {
  margin-top: 4rem;
  color: black;
  background-color: #93ec67;
  height: 3rem;
  width: 10rem;
  border-radius: 5px;
}
button:hover {
  background-color: #6dae4d;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-text-stroke: 1px #93ec67;
}

.button {
  font-size: 1rem;
  font-weight: bolder;
}